{
  "EudicAPIKey": "NIS xxxxxxxxxxxxxx",
  "EudicDomain": "https://api.frdic.com",
  "EudicRetrieveEndpointPath": "/api/open/v1/studylist/words/0?language=en&category_id=0&page=0&page_size=2000",
  "ReadWiseAPIToken": "xxxxxxxxxxxxxxxxxxxxx",
  "ReadWiseDomain": "https://readwise.io",
  "ReadWiseAddHighlightsEndpointPath": "/api/v2/highlights/",
}